.book-item {
  border: 1px outset #ccc;
  height: 350px;
  margin: 15px 0;
  padding: 80px 15px 15px;
  box-sizing: border-box;
  text-align: center;
  border-radius: 4px;
  background-color: #fafafa;

  h2 {
    font-size: 21px;
  }
}

.book-item-mobile {
  border: 1px outset #ccc;
  margin-bottom: 15px;
  padding:15px;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: #fafafa;

  h2 {
    font-size: 19px;
    margin-top: 0;
  }

  p {
    margin-bottom: 0;
  }
}