.book-item {
  border: 1px outset #ccc;
  height: 350px;
  margin: 15px 0;
  padding: 50px 15px 15px;
  box-sizing: border-box;
  text-align: center;
  border-radius: 4px;
  background-color: #fafafa;

  h2 {
    font-size: 21px;
  }
}