/* Markdown Editor */

.CodeMirror-buttonsPanel button {
    margin-right: 0.4em;
    margin-bottom: 0.4em;
}

.CodeMirror {
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}