// buryat-name/list
.buryat-name-list {
  .list-letter {
    li {
      margin-bottom: 10px;
      .badge {
        background-color: #ccc;
        color: #555;
      }
    }
  }

  .list-name {
    li {
      margin-bottom: 10px;
    }
  }
}