// site/index
.site-index {
  .well {
    background-color: #ecf0f1;
    border-color: #d7e0e2;
    h4 {
      font-size: 18px;
    }
    hr {
      border-color: #ddd;
    }
  }

  .translate-list {
    padding-left: 15px;
  }

  #russian-translation, #buryat-translation {
    .alert {
      margin-bottom: 0;
    }
  }
}