ul.ui-autocomplete.ui-menu {
  border-color: #ccc;
  li {
    padding: 5px 10px;
    color: #555;
    font-size: 16px;
    font-family: "Helvetica Neue", sans-serif;
  }
  li.ui-state-focus {
    background: #dedede;
    border: 1px solid #dedede;
  }
}

