@mixin margin-bottom($param) {
  margin: $param;
}

@mixin margin-top($param) {
  margin-top: $param;
}

.mb-0 {
  @include margin-bottom(0);
}

.mt-20 {
  @include margin-top(20px);
}

.mt-10 {
  @include margin-top(10px);
}