.news-item {
  margin-bottom: 25px;
}

.translate-list {
  padding-left: 15px;
}

#russian-translation, #buryat-translation {
  .alert {
    margin-bottom: 0;
  }
}

.list-letter {
  li {
    margin-bottom: 10px;
    width: 60px;
  }
}

.list-name {
  li {
    margin-bottom: 10px;
  }
}

.btn-custom {
  color: #fff;
  background: #247ba0;
  border-color: #247ba0;
}

.btn-custom:hover, .btn-custom:focus {
  color: #fff;
  background: #22769a;
  border-color: #22769a;
}