$btn-custom-bg: #247ba0;
$btn-custom-bg-hover: #22769a;

.btn-custom {
  color: #fff;
  background: $btn-custom-bg;
  border-color: $btn-custom-bg;

  &:hover,
  &:focus {
    color: #fff;
    background: $btn-custom-bg-hover;
    border-color: $btn-custom-bg-hover;
  }
}